.idea
.env

#prometheus
services/prometheus/prometheus.yml
services/prometheus/draft
services/prometheus/data
services/prometheus/targets.d/blackbox-icmp.yml
services/prometheus/targets.d/blackbox-http.yml
services/prometheus/targets.d/blackbox-tcp.yml

#alertmanager
services/alertmanager/data

#grafana
/services/grafana/
!/services/grafana/readme.md
